<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Playfair+Display+SC&family=Poppins:wght@100;200;300&display=swap" rel="stylesheet">
</head>
<body>
    <h1 class="text-red-100">hoooo</h1>
    <div class="formCont bg-gray-1">

            <form method="post" action="list">
                <input placeholder="title" name="title" type="text">
                <input placeholder="description" name="description" type="text">
                <input placeholder="date" name="date" type="date">
                <button type="submit">Submit</button>
            </form>
    </div>
    <div class="listCont">
        <ul>
          <% items.forEach(item =>{ %>
           <li>
            <h1><%= item.title %> </h1>
            <p><%= item.content %> </p>
            <p>Deadline</p>
            <span><%= item.date %> </span>
            
            </li> 

         <% }) %>   
        </ul>

    </div>
    
</body>
<script src="../js/main.js"></script>
</html>